body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.mongo-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.mongo-layout .mongo-header {
  display: flex;
  height: 52px;
  padding: 0 24px;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1019607843);
}
.mongo-layout .mongo-header.dark {
  background: #1a1a1a !important;
}
.mongo-layout .mongo-header.dark a {
  color: #fff !important;
}
.mongo-layout .mongo-header a {
  color: #888;
  font-size: 18px;
}
.mongo-layout .mongo-header a.focus {
  color: #1a1a1a;
}
.mongo-layout .mongo-header a:hover {
  color: #1a1a1a;
}
.mongo-layout .mongo-header .header-logo {
  font-size: 18px;
  line-height: 18px;
}
.mongo-layout .mongo-header .header-theme-btn {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  margin-left: 16px;
}
.mongo-layout .mongo-header .header-menu-btn {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
}
.mongo-layout .mongo-header .header-nav-list {
  display: flex;
  margin-left: auto;
}
.mongo-layout .mongo-header .header-nav-list .header-nav-item {
  display: block;
  font-size: 16px;
  line-height: 16px;
  height: 52px;
  line-height: 52px;
  width: max-content;
  position: relative;
  padding: 0 8px;
}
.mongo-layout .mongo-header .header-nav-list .header-nav-item::after {
  content: "";
  display: inline-block;
  height: 2.5px;
  width: 0%;
  border-radius: 10px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.mongo-layout .mongo-header .header-nav-list .header-nav-item:hover::after {
  background: #3b82f6;
  animation: header-nav-item-bottom-active 0.3s ease-in-out forwards;
}
.mongo-layout .mongo-header .header-nav-list .header-nav-item.focus::after {
  background: #3b82f6;
  animation: header-nav-item-bottom-active 0.3s ease-in-out forwards;
}
.mongo-layout .mongo-main {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  flex-grow: 1;
}
.mongo-layout .mongo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1a1a1a;
  margin-top: auto;
  padding: 12px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #fff;
  column-gap: 0.5rem;
}
.mongo-layout .mongo-footer a {
  margin-top: 4px;
  color: #fff;
}
.mongo-layout .mongo-side-tool {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
}
.mongo-layout .mongo-side-tool .side-tool-divider {
  background: #1a1a1a;
  opacity: 0.3;
  height: 1px;
  width: 60%;
  border-radius: 4px;
}
.mongo-layout .mongo-side-tool .side-tool-item {
  width: 32px;
  height: 32px;
  padding: 6px;
  cursor: pointer;
  background: #fff;
}
.mongo-layout .mongo-side-tool .side-tool-item:hover {
  background: #3b82f6;
}
.mongo-layout .mongo-side-tool .side-tool-item:hover svg path {
  fill: #fff;
}
.mongo-layout .mongo-side-tool .side-tool-item#wx-qr-code {
  border-top-left-radius: 4px;
}
.mongo-layout .mongo-side-tool .side-tool-item#wx-qr-code:hover ~ .aside-wx-box {
  display: flex;
  animation: show-wx-box 0.3s ease-in-out;
}
.mongo-layout .mongo-side-tool .side-tool-item#back-top {
  border-bottom-left-radius: 4px;
}
.mongo-layout .mongo-side-tool .aside-wx-box {
  display: none;
  background: #fff;
  width: 253px;
  padding: 8px;
  border-radius: 8px;
  align-items: center;
  position: absolute;
  right: 50px;
  top: -24px;
  box-shadow: rgba(17, 17, 26, 0.0509803922) 0 4px 16px, rgba(17, 17, 26, 0.0509803922) 0 8px 32px;
}
.mongo-layout .mongo-side-tool .aside-wx-box img {
  width: 78px;
  height: 78px;
}
.mongo-layout .mongo-side-tool .aside-wx-box section {
  flex-grow: 1;
  margin-left: 4px;
}
.mongo-layout .mongo-side-tool .aside-wx-box section .title {
  font-size: 16px;
  font-weight: 600;
  color: #4d4d4d;
}
.mongo-layout .mongo-side-tool .aside-wx-box section .desc {
  margin-top: 4px;
  font-size: 12px;
  color: #949ba4;
}
@media (max-width: 1200px) {
  .mongo-layout .mongo-side-tool {
    display: none;
  }
}
@media (max-width: 780px) {
  .mongo-layout .mongo-header {
    padding: 0 12px;
  }
  .mongo-layout .mongo-header .header-menu-btn {
    display: block !important;
  }
  .mongo-layout .mongo-header .header-nav-list {
    margin: 0;
    padding: 12px;
    flex-direction: column;
    position: fixed;
    top: 53px;
    left: -244px;
    height: 100vh;
    width: 220px;
    background: #fff;
  }
  .mongo-layout .mongo-header .header-nav-list.active {
    left: 0;
    animation: show-drawer-box 0.3s linear forwards;
  }
  .mongo-layout .mongo-header .header-logo {
    text-align: center;
    flex-grow: 1;
  }
}

@keyframes header-nav-item-bottom-active {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: calc(100% - 16px);
  }
}
@keyframes show-wx-box {
  0% {
    right: 40px;
    opacity: 0;
  }
  100% {
    right: 50px;
    opacity: 1;
  }
}
@keyframes show-drawer-box {
  0% {
    transform: translate(-244px);
  }
  100% {
    transform: translate(0);
  }
}
