@import "./include-media.scss";

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.mongo-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  .mongo-header {
    display: flex;
    height: 52px;
    padding: 0 24px;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 8px #0000001a;
    a {
      color: #888;
      font-size: 18px;
      &.focus {
        color: #1a1a1a;
      }
      &:hover {
        color: #1a1a1a;
      }
    }
    .header-logo {
      font-size: 18px;
      line-height: 18px;
    }
    .header-theme-btn {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      padding-left: 12px;
      &:hover {
        svg {
          animation: spin 1s linear infinite;
        }
      }
    }
    .header-menu-btn {
      display: none;
      width: 1.5rem;
      height: 1.5rem;
    }
    .header-nav-list {
      display: flex;
      gap: 12px;
      margin-left: auto;
      .header-nav-item {
        display: block;
        font-size: 16px;
        line-height: 16px;
        height: 52px;
        line-height: 52px;
        width: max-content;
        position: relative;
        &::after {
          content: "";
          display: inline-block;
          height: 2.5px;
          width: 0%;
          border-radius: 10px;
          background-color: transparent;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
        }

        &:hover {
          &::after {
            background: #3b82f6;
            animation: header-nav-item-bottom-active 0.3s ease-in-out forwards;
          }
        }
        &.focus {
          &::after {
            background: #3b82f6;
            animation: header-nav-item-bottom-active 0.3s ease-in-out forwards;
          }
        }
      }
    }
  }
  .mongo-main {
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    flex-grow: 1;
  }
  .mongo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #242528;
    margin-top: auto;
    padding: 12px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #fff;
    column-gap: 0.5rem;
    a {
      margin-top: 4px;
      color: #fff;
    }
  }
  .mongo-side-tool {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
    .side-tool-divider {
      background: #1a1a1a;
      opacity: 0.3;
      height: 1px;
      width: 60%;
      border-radius: 4px;
    }
    .side-tool-item {
      width: 32px;
      height: 32px;
      padding: 6px;
      cursor: pointer;
      background: #fff;
      &:hover {
        background: #3b82f6;
        svg {
          path {
            fill: #fff;
          }
        }
      }
      &#wx-qr-code {
        border-top-left-radius: 4px;
        &:hover {
          ~ .aside-wx-box {
            display: flex;
            animation: show-wx-box 0.3s ease-in-out;
          }
        }
      }
      &#back-top {
        border-bottom-left-radius: 4px;
      }
    }
    .aside-wx-box {
      display: none;

      background: #fff;
      width: 253px;
      padding: 8px;
      border-radius: 8px;
      align-items: center;
      position: absolute;
      right: 50px;
      top: -24px;
      box-shadow:
        #11111a0d 0 4px 16px,
        #11111a0d 0 8px 32px;
      img {
        width: 78px;
        height: 78px;
      }
      section {
        flex-grow: 1;
        margin-left: 4px;
        .title {
          font-size: 16px;
          color: #4d4d4d;
        }
        .desc {
          margin-top: 4px;
          font-size: 14px;
          color: #949ba4;
        }
      }
    }
  }
  @include media("<=1200px") {
    .mongo-side-tool {
      display: none;
    }
  }
  @include media("<=780px") {
    .mongo-header {
      padding: 0 12px;
      .header-menu-btn {
        display: block !important;
      }
      .header-nav-list {
        margin: 0;
        padding: 12px;
        flex-direction: column;
        position: fixed;
        top: 53px;
        left: -244px;
        height: 100vh;
        width: 220px;
        background: #fff;
        &.active {
          left: 0;
          animation: show-drawer-box 0.3s linear forwards;
        }
      }
      .header-logo {
        text-align: center;
        flex-grow: 1;
      }
    }
  }
}

@keyframes header-nav-item-bottom-active {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 98%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes show-wx-box {
  0% {
    right: 40px;
    opacity: 0;
  }
  100% {
    right: 50px;
    opacity: 1;
  }
}
@keyframes show-drawer-box {
  0% {
    transform: translate(-244px);
  }

  100% {
    transform: translate(0);
  }
}
